.holder{
    width: 970px;
    margin: 0 auto;
}

.cuadrado{
    display:inline-block;
    flex-flow: column wrap;
    position: relative;
    width: 966px;
    margin: 5px 0 5px 0;
    border: solid 2px #00a997;
    max-height: 100px;
}
.cuadrado >h2{
    position:absolute;
    left:15%;
    transform: translate(-60%, -30%);
    font-size: 2.5em;
    color:#000;
    text-align: center;
    font-style: italic;
    padding-top: 50px;
}

.cuadrado > p{
    padding-left: 270px;
    transform: translate(0, 15%);
    color:#252932;
    font-weight: bold;
    text-align: center;
   
    height: 100px;
}
.container-services{
    display:inline-block;
    flex-flow: row wrap;
    position: relative;
    /* width: 970px; */
    max-height: auto;
}

.foto-services{
    
    position: relative;
    
}

.foto-services>img{
   
    width: 970px;
    height:300px; 
}

.texto-services{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    
    border-radius: 15px;
    background-color: rgba(250, 250, 250, 0.8);;
    text-align: center;
    padding:  0 10px 0 10px;
}

 .centrado{
    
    color:#000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;

}
.centrado>h3{
    font-weight: bolder;
} 
.centrado > p{
    color:#00a997;
    font-size: 0.7em;
    font-weight: bold;

    
}
