.holder{
    width: 970px;
    margin: 0 auto;
}

.cuadrado{
    display:inline-block;
    flex-flow: column wrap;
    position: relative;
    width: 970px;
    margin: 5px 0 5px 0;
    border: solid 2px #00a997;
    max-height: 100px;
}
.cuadrado >h2{
    font-family:'Raleway', sans-serif !important;
    position:absolute;
    left:15%;
    transform: translate(-60%, -30%);
    font-size: 2.5em;
    color:#000;
    text-align: center;
    font-style: italic;
    padding-top: 50px;
}

.cuadrado > p{
    padding-left: 270px;
    transform: translate(0, 15%);
    color:#252932;
    font-weight: bold;
    text-align: center;
   
    height: 100px;
}
.container-services{
    display:inline-block;
    flex-flow: row wrap;
    position: relative;
    width: 970px;
    max-height: auto;
}

.foto-services{
    width:970px;
    height: 350px;
}
.foto1{
    display:block;
    flex-flow: column wrap;
    position:static;
    width: 970px;
    height: 350px;
}

.foto1>img{
    display:inline-block;
    width: 485px;
    height: 350px;
}
.centrado1{
    display:inline-block;
    width: 485px;
    height: 350px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    text-transform: uppercase;
    padding-top: 3em;
    padding-left: 30px;
    padding-right: 30px;
}
.foto2>img{
    display:inline-block;
    width: 485px;
    height: 350px;
}
.centrado2{
    display:inline-block;
    width: 485px;
    height: 350px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    text-transform: uppercase;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

h3{
font-weight: 700;
}

p{
    font-weight: 300;
    font-size: 14px;
    color: #4c4c4c;
   
}

.button{
    border-color:#00a997;
    background-color:white;
    border-style: hidden double;

}